<main class="page">
    <h1 class="page__mainTitle mainTitle">API</h1>
    <h2 class="page__middleTitle middleTitle">Общие ошибки с кодом не равным 200!</h2>
    <ul class="page__listBlock listBlock" id="commonTroubles"></ul>
    <h2 class="page__middleTitle middleTitle">Запросы и ответы</h2>
    <ul class="page__listBlock listBlock" id="requests"></ul>
    <h2 class="page__middleTitle middleTitle">Ответы могущие появиться в разных запросах</h2>
    <ul class="page__listBlock listBlock" id="commonRequest"></ul>
</main>
